<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Handler para iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Reescrever URLs para o Node.js -->
    <rewrite>
      <rules>
        <rule name="NodeJS" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Ficheiros estáticos -->
    <staticFiles>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticFiles>
    
    <!-- Desativar listagem de diretórios -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>